# Ignore artifacts:
.cache
.husky
.next
.next-env.d.ts
.nyc_output
.prettierignore
.stylelintignore
build
coverage
eslintignore
node_modules
package-lock.json
playwright-report
public
stories
storybook-static
yarn.lock
